/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root {
  --deepblue: deepskyblue;
  /*No colors because all the practice are diferents*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}
main {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: papayawhip;
}
h2 {
  padding: 20px 0;
  font-size: 2.6rem;
  text-align: center;
  background-color: papayawhip;
}
header {
  padding: 15px;
  text-align: center;
  font-size: large;
  background-color: dodgerblue;
}
.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  width: 90%;
  height: 90%;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 5px;
  resize: both;
  overflow: auto;
}
.header-section {
  display: grid;
  grid-column: 1 / 4;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(238, 83, 55);
}
.left-side-section {
  display: grid;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(64, 248, 110);
}
.main-section {
  display: grid;
  grid-column: 2 / 3;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
}
.right-side-section {
  display: grid;
  grid-column: 3 / 4;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(64, 248, 110);
}
.footer-section {
  display: grid;
  grid-column: 1 / 4;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(233, 243, 138);
}
footer {
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  background-color: rgb(202, 213, 235);
}
