/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys */

:root {
  --deepblue: deepskyblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #cad5eb;
}

header h1 {
  font-size: 3.2rem;
}

header p {
  width: 300px;
  font-size: 1.6rem;
}

h2 {
  padding: 20px 0;
  font-size: 2.6rem;
  text-align: center;
  background-color: papayawhip;
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: papayawhip;
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: deepskyblue;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  color: white;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
}

.navigation a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #1565c0;
}

.mobile-menu {
  display: none;
  color: white;
}

footer {
  padding: 20px 5px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #cad5eb;
}

@media all and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .mobile-menu {
    display: block;
    padding: 10px;
    background-color: deepskyblue;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .mobile-menu:hover {
    background-color: #1565c0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
