/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root{
    --deepblue: deepskyblue;
    /*No colors because all the practice are diferents*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
main{
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: papayawhip;
}
h2{
    padding: 20px 0;
    font-size: 2.6rem;
    text-align: center;
    background-color: papayawhip;
}
header {
    padding: 15px;
    text-align: center;
    font-size: large;
    background-color: dodgerblue;
}
.parent {
    display: grid;
    place-items: center;
    gap: 10px;
    width: 90%;
    height: 90%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 5px;
    resize: both;
    overflow: auto;
}  
.card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 25%;
    height: 80%;
    padding: 10px;
    background-color: rgb(247, 218, 166);
}
.card p {
    text-align: left;
}
.card div {
    aspect-ratio: 16 / 9;
}
.color-purpure {
    background-color: rgb(235, 164, 194);
    opacity: 50%;
}
footer{
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    background-color: rgb(202, 213, 235);
}
