/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root {
  --deepblue: deepskyblue;
  /*No colors because all the practice are diferents*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}
main {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  text-align: center;
  background-color: papayawhip;
}
h2 {
  padding: 20px 0;
  font-size: 2.6rem;
  text-align: center;
  background-color: papayawhip;
}
header {
  padding: 15px;
  text-align: center;
  font-size: large;
  background-color: dodgerblue;
}
.main__container {
  width: 90%;
  height: auto;
  padding: 10px;
  font-size: 1.6rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.main__container img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
}
.infoCharacter_container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(151, 144, 144);
}
.left {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: right;
}
.right {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
footer {
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  background-color: rgb(202, 213, 235);
}
