/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root {
  --deepblue: deepskyblue;
  /*No colors because all the practice are diferents*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}
main {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  text-align: center;
  background-color: papayawhip;
}
h2 {
  padding: 20px 0;
  font-size: 2.6rem;
  text-align: center;
  background-color: papayawhip;
}
header {
  padding: 15px;
  text-align: center;
  font-size: large;
  background-color: dodgerblue;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  justify-content: center;
  gap: 10px;
  width: 90%;
  height: auto;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 5px;
}
.flipBox {
  width: 100%;
  height: 250px;
  padding: 5px;
  background-color: transparent;
  perspective: 1000px;
  /* box-shadow: 0 2px 15px #adadad;*/
}
.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  font-size: 2.6rem;
  transform-style: preserve-3d;
}
.flipBoxFront,
.flipBoxBack {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  backface-visibility: hidden;
  border: 2px solid black;
}
.flipBoxFront {
  background-color: rgb(240, 187, 240);
}
.flipBoxBack {
  color: #ffffff;
  transform: rotateY(180deg);
  background-color: purple;
}
.flipBox:hover .flipBoxInner {
  transform: rotateY(180deg);
}
footer {
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  background-color: rgb(202, 213, 235);
}
