/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root{
    --deepblue: deepskyblue;
    /*No colors because all the practice are diferents*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: papayawhip;
}
h2{
    font-size: 2.6rem;
    padding-bottom: 20px;
}
header {
    padding: 15px;
    text-align: center;
    font-size: large;
    background-color: dodgerblue;
}
section{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 25px;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 10px;
}
.section__form{
    display: block;
    width: 100%;
    max-width: 236px;
    height: auto;
    padding: 20px;
}
label{
    display: block;
    padding-bottom: 5px;
    font-size: 1.6rem;
    text-align: left;
}
.form__input{
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #dbdbe2;
    text-align: left;
}
.form__button{
    display: block;
    padding: 10px;
    margin: 15px auto;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}
footer{
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    background-color: rgb(202, 213, 235);
}
