/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root{
    --deepblue: deepskyblue;
    /*No colors because all the practice are diferents*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
main{
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: papayawhip;
}
h2{
    font-size: 2.6rem;
    padding-bottom: 20px;
}
header {
    padding: 15px;
    text-align: center;
    font-size: large;
    background-color: dodgerblue;
}
section{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 25px;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 10px;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    list-style: none;
    background-color: deepskyblue;
}
.navigation a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;   
}
.navigation a:hover{
    background-color: #1565C0;
}
footer{
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    background-color: rgb(202, 213, 235);
}
@media all and (max-width: 800px){
    .navigation{
        justify-content: space-evenly;
    }
}
@media all and (max-width: 340px){
    .navigation{
        flex-flow: column wrap;
        text-align: center;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }
}