/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys */

:root {
  --deepblue: deepskyblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #cad5eb;
}

header h1 {
  font-size: 3.2rem;
}

header p {
  width: 300px;
  font-size: 1.6rem;
}

h2 {
  padding: 20px 0;
  font-size: 2.6rem;
  text-align: center;
  background-color: papayawhip;
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: papayawhip;
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.parent_container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.child_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 15px;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 10px;
}

.red-box {
  background-color: #e6a5a5;
}

.blue-box {
  background-color: #9c9cec;
}

.green-box {
  background-color: #90e790;
}

.yellow-box {
  background-color: #e9e964;
}

.orange-box {
  background-color: #e9bb67;
}

.purple-box {
  background-color: #d6a5e6;
}

.pink-box {
  background-color: #e6a5d6;
}
.brown-box {
  background-color: #e6bda5;
}

.gray-box {
  background-color: #a5a5a5;
}

.white-box {
  background-color: #ffffff;
}

footer {
  padding: 20px 5px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #cad5eb;
}
