/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelaneos / Otros - Media Querys*/
:root{
    --deepblue: deepskyblue;
    /*No colors because all the practice are diferents*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
main{
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: papayawhip;
}
h2{
    padding: 20px 0;
    font-size: 2.6rem;
    text-align: center;
    background-color: papayawhip;
}
header {
    padding: 15px;
    text-align: center;
    font-size: large;
    background-color: dodgerblue;
}
section{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 25px;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 10px;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child_container{
    padding: 10px;
    margin: 15px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
footer{
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    background-color: rgb(202, 213, 235);
}
